<html>
    <head>
        <title>{{title}}</title>

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel='stylesheet' href='/static/css/solarized_dark.css'>
        <link rel='stylesheet' href='/static/css/style.css'>

        <script src="https://use.typekit.net/zhe8yze.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>

    <body>
        <div class="container">
        <div class="row">
            <div class="twelve columns" style="margin-top:3em;">
                <h1>ReactIRC</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <p id="description">ReactIRC is a flask-inspired library for developing IRC
                    bots. It comes with an embedded web server for receiving POST requests
                    from webhook enabled services.</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="twelve columns">
                <h2>Install</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <h4><center>Git</center></h4>
{% highlight 'bash' %}
$ pip install git+git://github.com/citruspi/ReactIRC.git
{% endhighlight %}
            </div>

            <div class="six columns">
                <h4><center>PyPi</center></h4>
{% highlight 'bash' %}
$ pip install reactirc
{% endhighlight %}
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="twelve columns">
                <h2>Examples</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="four columns">
                <h3>Greeter Bot</h3>
                <p>Greeter Bot listens for messages which match the pattern
                <code>Hey, my name is (name)</code> and replies by greeting the user
                with <code>Hey there (name)!</code>.</p>
            </div>

            <div class="eight columns">
{% highlight 'python', lineno='inline' %}
from ReactIRC import Bot

bot = Bot()


@bot.on(r'^Hey, my name is (.*)$')
def greeter(name):
    return 'Hey there {}!'.format(name)


bot.monitor(nick='bot', channels='#bots')
{% endhighlight %}
            </div>

        </div>

        <br>

        <div class="row">
            <div class="four columns">
                <h3>Karma Bot</h3>
                <p>Karma Bot manages user karma. User's can <code>++</code> and
                <code>--</code> each other to increase and decrease karma.
                Simply entering <code>karma</code> will return your karma count,
                and including a user (<code>karma citruspi</code>) will return
                the karma count for the targetted user.</p>
            </div>

            <div class="eight columns">
{% highlight 'python', lineno='inline' %}
from ReactIRC import Bot

bot = Bot()
scores = {}


@bot.on(r'^karma$')
@bot.on(r'^karma ([\S]+)$')
def karma_status(user=None):
    if user is None:
        user = irc.context['sender']

    try:
        return '{} has {} karma'.format(user, scores[user])
    except KeyError:
        return '{} has 0 karma'.format(user)


@bot.on(r'^([\S]+)(\+\+|\-\-){1}$')
def karma_adjustment(user, direction):
    try:
        if direction == '--':
            scores[user] -= 1

        elif direction == '++':
            scores[user] += 1
    except KeyError:
        scores[user] = 0


bot.monitor(nick='bot', channels='#bots')
{% endhighlight %}
            </div>
        </div>
        <br>
        </div>
    </body>
</html>
