<div class="row navigation">
    <div class="twelve columns navigation-toggle">
        <hr/>
        <label class="navigation-toggle-btn">Menu</label>
        <hr/>
    </div>
    <div class="twelve columns navigation-menu">
        <ul>
            <li><a href="/streams/">Streams</a></li>
            <li><a href="/photography/">Photography</a></li>
            <li><a href="/collections/">Collections</a></li>
            <li><a href="/resume/">R&eacute;sum&eacute;</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>
</div>
